@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

.header {
  width: 100%;
  max-width: 1200px;
  min-width: 288px;
  display: flex;
  margin: 0 auto;
  align-items: center;
  font-size: 24px;
  background-color: rgba(99, 39, 0, 0.3);
  padding: 15px;
  box-sizing: border-box;
}
.header .yandex-taxi {
  position: relative;
  width: 50px;
  height: 50px;
  background-color: #FF8E00;
  border-radius: 10px;
  box-shadow: 0px 1px 3px 0px black;
}
.header .yandex-taxi:before, .header .yandex-taxi:after {
  content: "";
  position: absolute;
  width: 50%;
  height: 50%;
  bottom: 0px;
}
.header .yandex-taxi:before {
  left: 0px;
  background-color: white;
  border-radius: 0 0 0 10px;
}
.header .yandex-taxi:after {
  right: 0px;
  background-color: black;
  border-radius: 0 0 10px;
}
.header p {
  width: 75%;
  padding-left: 10px;
}

.items {
  width: 100%;
  max-width: 1200px;
  min-width: 288px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 auto;
  flex-wrap: wrap;
}

.item {
  margin-bottom: 5px;
  display: flex;
  min-width: 288px;
  flex-direction: column;
  border: 1px solid black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(33% - 10px);
}

.photo {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  max-width: 90%;
  height: 255px;
}
.photo img {
  display: block;
  max-width: 100%;
  max-height: 100%;
  margin: 0 auto;
}
.photo .stock-block {
  width: 100%;
  margin: 0 auto;
  word-wrap: break-word;
  position: absolute;
  bottom: 5px;
}
.photo .stock-block .timer {
  display: flex;
  border-radius: 10px;
  width: 100%;
  background-color: rgba(179, 179, 179, 0.4);
  color: black;
  text-align: center;
  justify-content: space-evenly;
}
.photo .stock-block .timer .time {
  max-width: 85px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.photo .stock-block .timer .number {
  font-size: 35px;
}
.photo .stock-block .timer .word {
  font-size: 12px;
}
.photo .stock-block .timer .colon {
  font-size: 28px;
  font-weight: bold;
}
.photo .stock-block .timer .separator {
  width: 2px;
  height: inherit;
  background-color: black;
  opacity: 0.5;
}
.photo .stock-block .timer .count {
  max-width: 85px;
  display: flex;
  flex-direction: column;
  text-align: center;
}
.photo .stock-block .timer .count .number {
  font-size: 35px;
}
.photo .stock-block .timer .count .word {
  font-size: 12px;
}

.wrap {
  margin: 0 15px;
}

.car-name {
  margin-bottom: 20px;
  font-size: 16px;
}

.item-name {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.item-sku {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  border: 2px solid blue;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 8px 0;
  text-align: center;
  font-size: 16px;
  color: blue;
}

.producer {
  margin-bottom: 10px;
  font-size: 16px;
}

.amount {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  margin-bottom: 50px;
}
.amount img {
  width: 100%;
  max-width: 30px;
  height: auto;
}

.main-discount-block {
  position: relative;
  width: 100%;
  max-height: 150px;
  margin-bottom: 10px;
}
.main-discount-block .square-block {
  position: absolute;
  top: -40px;
  left: 5px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  max-width: 100px;
  max-height: 100px;
  border: 1px solid #14bbfc;
  align-items: center;
  justify-content: center;
  background-color: #14bbfc;
  color: white;
}
.main-discount-block .square-block .number {
  font-size: 45px;
  font-weight: bold;
}
.main-discount-block .square-block .persen {
  font-size: 25px;
  font-weight: bold;
}
.main-discount-block .square-block .word {
  font-size: 22px;
  font-weight: bold;
  text-transform: uppercase;
}
.main-discount-block .square-discript {
  width: auto;
  height: 100px;
  border: 1px solid #078600;
  background-color: #292929;
}
.main-discount-block .square-discript .discript {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  width: 100%;
  height: 60px;
  border-bottom: 2px solid #078600;
}
.main-discount-block .square-discript .discript .discript-helper {
  min-width: 110px;
}
.main-discount-block .square-discript .discript .discript-word {
  position: relative;
  max-width: 140px;
  font-size: 21px;
  color: #078600;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 5px;
  padding-top: 5px;
  margin: 0 auto;
}
.main-discount-block .square-discript .discript .discript-word:after {
  content: "";
  position: absolute;
  top: 30px;
  right: 0px;
  width: 140px;
  height: 4px;
  background-color: #14bbfc;
}
.main-discount-block .square-discript .discript-add {
  color: white;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  font-size: 15px;
}

.usual-price {
  font-size: 16px;
  color: #BF8030;
  margin-bottom: 20px;
}
.usual-price span {
  font-size: 18px;
  text-decoration: line-through;
}

.real-price {
  font-size: 16px;
  color: #FF8E00;
  margin-bottom: 20px;
}
.real-price span {
  font-size: 26px;
  font-weight: bold;
  margin-left: 15px;
}

.wide {
  overflow: hidden;
}

.button-buy {
  display: block;
  font-weight: bold;
  color: white;
  text-decoration: none;
  background-color: #FF8E00;
  padding: 10px 100px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;
}
.button-buy:hover, .button-buy:active {
  background-color: #FF7373;
}

.deposit-and-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.deposit {
  display: flex;
  align-items: center;
}
.deposit a {
  text-decoration: none;
  margin-left: 10px;
}
.deposit img {
  width: 100%;
  height: auto;
}

.info {
  display: flex;
  align-items: center;
}
.info img {
  width: 100%;
  height: auto;
}
.info a {
  text-decoration: none;
  margin-left: 10px;
}

@media (max-width: 1024px) {
  .item {
    width: calc(50% - 10px);
  }
}
@media (max-width: 600px) {
  .item {
    width: 100%;
  }
}
@media (max-width: 480px) {
  .item {
    width: 100%;
  }

  .photo .stock-block {
    max-width: 100%;
  }
}
/* попап */
.b-popup-content {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
  position: fixed;
  top: 0px;
  display: none;
  overflow: scroll;
}
.b-popup-content .container-popup {
  width: 100%;
  height: 100%;
  justify-content: center;
  max-width: 1024px;
  min-width: 288px;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
}
.b-popup-content .container-popup .header-popup {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background-color: #FF7373;
}
.b-popup-content .container-popup .header-popup h2 {
  text-transform: uppercase;
  font-size: 14px;
  color: #ffffff;
  padding: 20px 0px;
  padding-left: 40px;
}
.b-popup-content .container-popup .header-popup .close-popup {
  position: absolute;
  right: 32px;
  width: 20px;
  height: 20px;
  opacity: 0.3;
}
.b-popup-content .container-popup .header-popup .close-popup:hover {
  opacity: 1;
}
.b-popup-content .container-popup .header-popup .close-popup:before, .b-popup-content .container-popup .header-popup .close-popup:after {
  position: absolute;
  left: 9px;
  content: " ";
  height: 20px;
  width: 2px;
  background-color: white;
}
.b-popup-content .container-popup .header-popup .close-popup:before {
  transform: rotate(45deg);
}
.b-popup-content .container-popup .header-popup .close-popup:after {
  transform: rotate(-45deg);
}
.b-popup-content .container-popup .main-popup {
  position: relative;
  display: flex;
  flex-direction: column;
  padding: 40px 0px 0px 0px;
  background-color: #f0c296;
  margin: 0;
}
.b-popup-content .container-popup .main-popup h1 {
  max-width: 80%;
  margin: 0 0 5px 0;
  padding: 0;
  padding-left: 40px;
  font-size: 30px;
  color: #A65B00;
}
.b-popup-content .container-popup .main-popup .items-popup {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
}
.b-popup-content .container-popup .main-popup .items-popup .item-popup {
  display: flex;
  max-width: 100%;
  align-items: center;
  width: 50%;
  min-width: 320px;
  padding: 20px 40px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  flex-grow: 1;
}
.b-popup-content .container-popup .main-popup .items-popup .item-popup:hover {
  background-color: #FFC073;
  opacity: 0.7;
}
.b-popup-content .container-popup .main-popup .items-popup .item-popup .logo-popup {
  display: flex;
  align-items: center;
  width: 100%;
  max-width: 30%;
  min-width: 30%;
  height: 100px;
}
.b-popup-content .container-popup .main-popup .items-popup .item-popup .logo-popup img {
  display: block;
  margin: 0 auto;
  max-width: 100%;
  max-height: 100%;
}
.b-popup-content .container-popup .main-popup .items-popup .item-popup .discription-popup {
  min-width: 70%;
  display: flex;
  flex-direction: column;
  margin: auto 0;
  padding-left: 20px;
  font-size: 20px;
  line-height: 20px;
}
.b-popup-content .container-popup .main-popup .items-popup .item-popup .discription-popup p {
  width: 90%;
  word-break: break-word;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}
.b-popup-content .container-popup .main-popup .items-popup .item-popup .discription-popup span {
  color: #FF7373;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

@media (max-width: 768px) {
  .items-popup .item-popup:hover {
    background-color: #f0c296 !important;
    opacity: 1 !important;
  }

  .b-popup-content .container-popup {
    height: auto;
  }
}

/*# sourceMappingURL=style.css.map */
