*{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
}

.items{
    max-width: 1024px;
    min-width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}
.item{
    margin: 0 5px 5px 5px;
    display: flex;
    min-width: 300px;
    flex-direction: column;
    border:1px solid black;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    /* flex-grow: 1;  */
     width: calc(33% - 10px);

}

.photo{
    position: relative;
    margin: 0 auto;
    margin-bottom: 20px;
    width: 100%;
    max-width: 90%;
    height: 100%;
}
.photo img{
    max-width: 100%;
    max-height: 100%;
}
.stock{
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 50px;
    background-color: rgba(179, 179, 179, 0.4);
    color: black;
    font-size: 2em;
    border-radius: 10px;
    text-align: center;
}
.stock-date{
    position: absolute;
    bottom: 10px;
    width: 100%;;
    word-spacing: 23px;
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
}
.wrap{
    margin: 0 15px;
}
.car-name{
    margin-bottom: 20px;
    font-size: 16px;
}

.item-name {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}
.item-key{
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    border: 2px solid blue;
    border-radius: 10px;
    box-sizing: border-box;
}
.item-key{
    margin: 8px 0;
    text-align: center;
    font-size: 16px;
    color: blue;
}

.producer{
    margin-bottom: 10px;
    font-size: 16px;
}

.amount{
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    margin-bottom: 20px;
}
.amount img{
    width: 100%;
    max-width: 30px;
    height: auto;
}
.discount{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.usual-price{
    font-size: 16px;
    color: #BF8030;
    margin-bottom: 20px;
}
.usual-price span{
    font-size: 18px;
    text-decoration: line-through;
}
.real-price{
    font-size: 16px;
    color: #FF8E00;
    margin-bottom: 20px;
}
.real-price span {
    font-size: 26px;
    font-weight: bold;
    margin-left: 15px;
}
.wide{
    overflow: hidden;
}
.button-buy{
    display: block;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: #FF8E00;
    padding: 10px 100px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}

.button-buy:hover,
.button-buy:active{
    background-color: #FF7373;
}
.deposit-and-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.deposit{
    display: flex;
    align-items: center;
}
.deposit a{
    text-decoration: none;
    margin-left: 10px;
}
.deposit img{
    width: 100%;
    height: auto;
}
.info{
    display: flex;
    align-items: center;
}
.info img {
    width: 100%;
    height: auto;
}
.info a{
    text-decoration: none;
    margin-left: 10px;
}

@media (max-width: 989px) {
    .item{
        width: calc(50% - 10px);
    }
  }
  @media (max-width: 630px) {
    .item{
        width: 100%;
    }
  } 



/* попап */

.b-popup-content{
    width:100%;
    height: 100%;
    background-color: rgba(255,255,255,0.5);
    position:fixed;
    top:0px;
    display: none;
    overflow: scroll;
}

.container-popup{
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}


.header-popup{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FF7373;
}

.header-popup h2{
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    padding: 20px 0px;
}

.close-popup {
    position: absolute;
    top: 15px;
    right: 32px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    
    }
.close-popup:hover {
    opacity: 1;
    }
.close-popup:before, .close-popup:after {
    position: absolute;
    left: 9px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #ffffff;
    
    }
.close-popup:before {
    transform: rotate(45deg);
    }
.close-popup:after {
    transform: rotate(-45deg);
    }

.main-popup {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px 0px 0px 0px;
    background-color: rgb(240, 194, 150);
    margin: 0;
}
.main-popup h1{
    margin: 0 0 40px 40px;
    padding: 0;
    font-size: 30px;
    color: #A65B00;
}
.items-popup{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
    padding: 0;

}

.items-popup .item-popup{
    display: flex;
    /* flex-basis: 450px; */
    width: 50%;
    min-width: 320px;
    padding: 20px 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-grow: 1;
}

.item-popup:hover{
    background-color: #FFC073;
    opacity: 0.7;
}

.discription-popup{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding-left: 20px;
    font-size: 20px;
    line-height: 20px;
}

.discription-popup span{
    color:#FF7373;
}
.logo-popup{
    width: 100%;
    max-width: 30%;
    height: 100%;
    margin: 0 auto;
}
.logo-popup img{
    max-width: 100%;
    max-height: 100%;
}

@media (max-width: 900px) {
    .item-popup:hover{
        background-color: rgb(240, 194, 150);
        opacity: 1;
    }
  }