
$black: black;
$grey-for-time: rgba(179, 179, 179, 0.4);
$blue: blue;
$dirty-gold: #BF8030;
$gold: #FF8E00;
$gold-hover: #FF7373;
$white: white;
$brown-with-opacity: rgba(99, 39, 0, 0.3);
// попап

$white-and-opacity: rgba(255, 255, 255, 0.5);
$light-brown: #f0c296;
$coral: #FF7373;
$brown: #A65B00;
$saffron: #FFC073;


//Акция

$green: #078600;
$light-blue: #14bbfc;
$light-black: #292929;
