* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}
.container{
    width: 100%;
    min-width: 320px;
    max-width: 1024px;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
}


.header{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: #FF7373;
}

.header h2{
    margin-left: 40px;
    text-transform: uppercase;
    font-size: 14px;
    color: #ffffff;
    padding: 20px 0px;
}

.close {
    position: absolute;
    top: 15px;
    right: 32px;
    width: 20px;
    height: 20px;
    opacity: 0.3;
    
    }
.close:hover {
    opacity: 1;
    }
.close:before, .close:after {
    position: absolute;
    left: 9px;
    content: ' ';
    height: 20px;
    width: 2px;
    background-color: #ffffff;
    
    }
.close:before {
    transform: rotate(45deg);
    }
.close:after {
    transform: rotate(-45deg);
    }

.main {
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 40px 0px 0px 0px;
    background-color: rgb(240, 194, 150);
    margin: 0;
}
.main h1{
    margin: 0 0 40px 40px;
    padding: 0;
    font-size: 30px;
    color: #A65B00;
}
.items{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    margin: 0;
    padding: 0;
}

.items .item{
    display: flex;
    flex-basis: 450px;
    min-width: 50%;
    padding: 20px 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

.item:hover{
    background-color: #FFC073;
    opacity: 0.7;
}

.discription{
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding-left: 20px;
    font-size: 20px;
    line-height: 20px;
}

.discription span{
    color:#FF7373;
}

.logo img{
    width: 100%;
    min-width: 118px;
    height: auto;
}

@media (max-width: 900px) {
    .item:hover{
        background-color: rgb(240, 194, 150);
        opacity: 1;
    }
  }