*{
    margin:0;
    padding:0;
    font-family: 'Josefin Sans', sans-serif;
}

.items{
    width: 100%;
    max-width: 1024px;
    min-width: 320px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 auto;
    flex-wrap: wrap;
}
.item{
    display: flex;
    flex-basis: 330px;
    flex-direction: column;
    border:1px solid black;
    margin-bottom: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

}

.photo{
    position: relative;
    margin: 0 20px;
    margin-bottom: 20px;
}
.photo img{
    width: 100%;
    /* max-width: 280px; */
    height: auto;
}
.stock{
    position: absolute;
    bottom: 5px;
    width: 100%;
    height: 50px;
    background-color: rgba(179, 179, 179, 0.4);
    color: black;
    font-size: 2em;
    border-radius: 10px;
    text-align: center;
}
.stock-date{
    position: absolute;
    bottom: 10px;
    width: 100%;;
    word-spacing: 23px;
    font-size: 9px;
    text-transform: uppercase;
    text-align: center;
}
.wrap{
    margin: 0 15px;
}
.car-name{
    margin-bottom: 20px;
    font-size: 16px;
}

.item-name {
    margin-bottom: 20px;
    font-size: 16px;
    font-weight: bold;
}
.item-key{
    width: 100%;
    margin: 0 auto;
    padding: 10px 0;
    border: 2px solid blue;
    border-radius: 10px;
    box-sizing: border-box;
}
.item-key{
    margin: 8px 0;
    text-align: center;
    font-size: 16px;
    color: blue;
}

.producer{
    margin-bottom: 10px;
    font-size: 16px;
}

.amount{
    display: flex;
    align-items: flex-end;
    font-size: 16px;
    margin-bottom: 20px;
}
.amount img{
    width: 100%;
    max-width: 30px;
    height: auto;
}
.discount{
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}
.usual-price{
    font-size: 16px;
    color: #BF8030;
    margin-bottom: 20px;
}
.usual-price span{
    font-size: 18px;
    text-decoration: line-through;
}
.real-price{
    font-size: 16px;
    color: #FF8E00;
    margin-bottom: 20px;
}
.real-price span {
    font-size: 26px;
    font-weight: bold;
    margin-left: 15px;
}
.wide{
    overflow: hidden;
}
.button-buy{
    display: block;
    font-weight: bold;
    color: white;
    text-decoration: none;
    background-color: #FF8E00;
    padding: 10px 100px;
    text-align: center;
    margin-bottom: 10px;
    cursor: pointer;
}
.deposit-and-info{
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
}
.deposit{
    display: flex;
    align-items: center;
}
.deposit a{
    text-decoration: none;
    margin-left: 10px;
}
.deposit img{
    width: 100%;
    height: auto;
}
.info{
    display: flex;
    align-items: center;
}
.info img {
    width: 100%;
    height: auto;
}
.info a{
    text-decoration: none;
    margin-left: 10px;
}

@media (max-width: 989px) {
    .item{
        flex-basis: 49%;
    }
  }
  @media (max-width: 575px) {
    .item{
        flex-basis: 100%;
    }
  }