<template>
  <div class="header">
    <div class="yandex-taxi"></div>
    <p>Выбор по типу оборудования</p>
  </div>
</template>

<script>
export default {
  name: "Header"
};
</script>

<style lang="scss" scoped>
@import "./style/adaptiv";
@import "./style/color";

.header {
  width: 100%;
  max-width: $xl;
  min-width: $xs;
  display: flex;
  margin: 0 auto;
  align-items: center;
  font-size: 24px;
  background-color: $brown-with-opacity;
  padding: 15px;
  box-sizing: border-box;
  .yandex-taxi {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: $gold;
    border-radius: 10px;
    box-shadow: 0px 1px 3px 0px $black;
    &:before,
    &:after {
      content: "";
      position: absolute;
      width: 50%;
      height: 50%;
      bottom: 0px;
    }
    &:before {
      left: 0px;
      background-color: $white;
      border-radius: 0 0 0 10px;
    }
    &:after {
      right: 0px;
      background-color: $black;
      border-radius: 0 0 10px;
    }
  }
  p {
    width: 75%;
    padding-left: 10px;
  }
}
</style>
