<template>
    <div class="container">
        <div class="lds-dual-ring"></div>
    </div>
</template>

<script>

export default {
    name: 'loader',
}
</script>


<style lang="scss" scoped>
@import "./style/adaptiv";
@import "./style/color";
.container{
  width: 100%;
  max-width: $xl;
  min-width: $xs;
  display: flex;
  margin: 20px auto;
}
.lds-dual-ring {
  display: inline-block;
  width: 64px;
  height: 64px;
  margin: 0 auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 46px;
  height: 46px;
  margin: 1px;
  border-radius: 50%;
  border: 5px solid #fed;
  border-color: #fed transparent #fed transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

</style>
