<template>
  <div class="filter-content">
    <div class="myFilter">
      <div class="column price">
        <p>По цене</p>
        <label for="minPrice">От</label>
        <input id="minPrice" maxlength="5" type="number" v-model.number="aggRangeValues.minPrice" />
        <label for="maxPrice">До</label>
        <input id="maxPrice" maxlength="5" type="number" v-model.number="aggRangeValues.maxPrice" />
      </div>
      <div class="column stock">
        <p>По кол-ву</p>
        <label for="minStock">От</label>
        <input id="minStock" maxlength="5" type="number" v-model.number="aggRangeValues.minCount" />
        <label for="maxStock">До</label>
        <input id="maxStock" maxlength="5" type="number" v-model.number="aggRangeValues.maxCount" />
      </div>
      <div class="submitButton">
        <button class="button" @click="filter0nOff(aggRangeValues),visibleFilterModal()">Фильтруй</button>
        <button class="button" @click="filter0nOff({}),visibleFilterModal()">Сброс</button>
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions } from "vuex";
export default {
  name: "myFilter",
  props: ["aggRange"],
  methods: {
    ...mapActions(["visibleFilterModal"]),
    close(event) {
      this.$emit("close");
    },
    filter0nOff(value) {
      this.$emit("filterWork", value);
    }
  },
  computed: {
    aggRangeValues() {
      let aggregationValue = {};
      aggregationValue.minPrice = this.$route.query.minPrice || this.aggRange.minPrice;
      aggregationValue.maxPrice = this.$route.query.maxPrice || this.aggRange.maxPrice;
      aggregationValue.minCount = this.$route.query.minCount || this.aggRange.minCount;
      aggregationValue.maxCount = this.$route.query.maxCount || this.aggRange.maxCount;
      return aggregationValue;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./style/adaptiv";
@import "./style/color";

.filter-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  display: block;
  overflow: scroll;
  z-index: 1;
  display: flex;
  align-items: center;
}

.myFilter {
  width: 50%;
  height: 50%;
  justify-content: center;
  max-width: $l;
  min-width: $xs;
  margin: 0 auto;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: lightgray;
  border-radius: 10px;
}
.column {
  text-align: center;
  margin-bottom: 10px;
}
input {
  width: 33%;
  height: 20px;
  font-size: 20px;
  margin-right: 10px;
}
.submitButton {
  display: flex;
  justify-content: center;
}
.button {
  width: 45%;
  padding: 5px;
  margin-right: 5px;
  font-size: 20px;
  border: 0;
  border-radius: 5px;
  background-color: $gold;
  &:hover,
  &:active {
    background-color: $gold-hover;
    box-shadow: 1px 1px 1px 1px black;
  }
}

@media (max-width: $m-s) {
  .myFilter {
    width: 100%;
    height: 100%;
  }
}
</style>
