<template>
  <div class="pagination">
    <button class="button prev" @click="showPage(-1)" :disabled="currentPage == 1">PREV</button>
    <button 
      class="button"
      v-if="2 < currentPage"
      @click="nowPage(1)"
      >
      ...
      </button>
    <button
      class="button"
      v-for="(n, i) in countMainPage"
      :key="i"
      @click="nowPage(n)"
      :class="{ active: currentPage == n }"
    >{{n}}</button>
    <button 
      class="button"
      v-show="countPage > currentPage+1"
      @click="nowPage(countPage)"
      >
      ...
      </button>
    <button
      class="button next"
      @click="showPage(1)"
      :disabled="total <= (currentPage) * this.size"
    >NEXT</button>
  </div>
</template>


<script>
import {  mapActions } from "vuex";

export default {
  name: "pagination",
  props: ["size", "total", "currentPage"],
  methods: {
    ...mapActions(["filterItemsStock"]),
    showPage(page) {
      this.$emit("showPage", +this.currentPage + +page);
    },
    nowPage(page) {
      this.$emit("showPage", page);
    }
  },
  computed: {
    countPage() {
      return Math.ceil(this.total / this.size);
    },
    countMainPage(){
      let start = this.currentPage - 1 !== 0 ? this.currentPage - 1 : this.currentPage
      let finish = parseInt(start) + 3
      let pageRange = []
      for(let i = 0; i <= this.countPage; i++) pageRange.push(parseInt(i))
      return pageRange.slice(start,finish)
    }
  }
};
</script>


<style lang="scss" scoped>
@import "./style/adaptiv";
@import "./style/color";

.pagination {
  width: 100%;
  max-width: $xl;
  min-width: $xs;
  display: flex;
  margin: 0 auto;
  align-items: center;
  font-size: 28px;
  .button{
    width: 100%;
    height: 40px;
    border: 0;
    font-size: 24px;
    margin-right: 5px;
    &:hover:not(.prev):not(.next){
      background-color: $gold;
    }
  }
  .active {
    background-color: $gold;
  }
}
</style>
