<template>
  <div class="b-popup-content">
    <div class="overlay" @click="closeModal()"></div>
    <div class="container-popup">
      <div class="header-popup">
        <h2>Оплата услуг</h2>
        <span class="close-popup" @click="close"></span>
      </div>
      <div class="main-popup">
        <h1>Мгновенная оплата</h1>
        <item-for-pay :payItems="payItems" />
      </div>
    </div>
  </div>
</template>

<script>
import { mapActions, mapState } from "vuex";
import itemForPay from "@/components/ItemForPay";

export default {
  name: "Payment",
  components: {
    itemForPay
  },
  methods: {
    ...mapActions(["isModalVisible", "closeModal"]),
    close(event) {
      this.$emit("close");
    }
  },
  computed: mapState({
    payItems: state => state.payItems
  })
};
</script>

<style lang="scss" >
@import "./style/adaptiv";
@import "./style/color";

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background-color: $white-and-opacity;
}

.b-popup-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0px;
  display: block;
  overflow: scroll;
  z-index: 1;
  .container-popup {
    width: 100%;
    height: 100%;
    justify-content: center;
    max-width: $l;
    min-width: $xs;
    margin: 0 auto;
    padding: 0;
    display: flex;
    flex-direction: column;
    .header-popup {
      position: relative;
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      background-color: $coral;
      z-index: 3;
      h2 {
        text-transform: uppercase;
        font-size: 14px;
        color: #ffffff;
        padding: 20px 0px;
        padding-left: 40px;
      }
      .close-popup {
        position: absolute;
        right: 32px;
        width: 20px;
        height: 20px;
        opacity: 0.3;
        &:hover {
          opacity: 1;
        }
        &:before,
        &:after {
          position: absolute;
          left: 9px;
          content: " ";
          height: 20px;
          width: 2px;
          background-color: $white;
        }
        &:before {
          transform: rotate(45deg);
        }
        &:after {
          transform: rotate(-45deg);
        }
      }
    }
    .main-popup {
      position: relative;
      display: flex;
      flex-direction: column;
      padding: 40px 0px 0px 0px;
      background-color: $light-brown;
      margin: 0;
      z-index: 3;
      h1 {
        max-width: 80%;
        margin: 0 0 5px 0;
        padding: 0;
        padding-left: 40px;
        font-size: 30px;
        color: $brown;
      }
    }
  }
}

@media (max-width: $m) {
  .b-popup-content {
    .container-popup {
      height: auto;
    }
  }
}
</style>



