<template>
  <div>
    <loader v-if="loader" />
    <item v-else-if="items" :items="items"/>
    <div class="zeroItems" v-else>Сорри нет таких товаров</div>
  </div>
</template>

<script>
import item from "@/components/Item";
import loader from "@/views/Loader";
import { mapState, mapActions } from "vuex";

export default {
  name: "productList",
  components: {
    item,
    loader
  },
  computed: mapState({
    items: state => state.products.items,
    loader: state => state.loader
  }),
};
</script>

<style lang="scss" scoped>
@import "./style/adaptiv";
@import "./style/color";
.zeroItems {
  width: 100%;
  max-width: $xl;
  min-width: $xs;
  margin: 0 auto;
  font-size: 20px;
}
</style>
