<template>
  <div>
    <span>Сортировать по:</span>
    <select v-model="setSort">
      <option v-for="sort in sortBy"
             :value="sort.value" 
             :key="sort.value"
             >{{sort.description}}</option>
    </select>
    <img src="https://img.icons8.com/dusk/64/000000/sort-up.png" @click="choiseSort(`${setSort}:asc`)" />
    <img
      src="https://img.icons8.com/dusk/64/000000/generic-sorting.png"
      @click="choiseSort(`${setSort}:desc`)"
    />
    <img src="https://img.icons8.com/dusk/64/000000/grill.png" @click="choiseSort(`${setSort}:reset`)" />
    <img src="https://img.icons8.com/nolan/64/000000/filter.png" @click="visibleFilterModal()" />
  </div>
</template>

<script>
import { mapActions } from "vuex";

export default {
  name: "sort",
  props:['sortBy'],
  data(){
    return{
      setSort: "discount.price"
    }
  },
  methods: {
    ...mapActions(["visibleFilterModal"]),
    choiseSort(value) {
      this.$emit("choiseSort", value);
      
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./style/adaptiv";
@import "./style/color";

div {
  max-width: 100%;
  max-width: $xl;
  min-width: $xs;
  display: flex;
  margin: 0 auto;
  align-items: center;
  font-size: 20px;
  background-color: $brown-with-opacity;
  padding: 0 15px 15px 15px;
  box-sizing: border-box;
  span {
    margin-right: 5px;
    font-size: 14px;
    opacity: 0.8;
  }
  img {
    width: 50px;
    height: 50px;
  }
}
</style>
