<template>
  <div id="app">
    <my-header />
    <my-sort v-on:choiseSort="validateRoute({sort: $event})" :sortBy='sortBy'/>
    <payment v-show="isModalVisible" @close="closeModal" />
    <productlist />
    <pagination
      :size="size"
      :total="total"
      :currentPage="currentPage"
      v-on:showPage="validateRoute({page: $event})"
      v-if="total / size > 1"
    />
    <my-filter
      v-on:filterWork="validateRoute({filter: $event})"
      v-show="filterVisible"
      :aggRange="aggRange"
    />
  </div>
</template>

<script>
import myHeader from "@/views/Header.vue";
import mySort from "@/views/Sort.vue";
import payment from "@/views/Payment.vue";
import productlist from "@/views/ProductList.vue";
import pagination from "@/views/Pagination.vue";
import myFilter from "@/views/MyFilter.vue";
import { mapState } from "vuex";
import { mapActions } from "vuex";

export default {
  components: {
    myHeader,
    mySort,
    payment,
    productlist,
    pagination,
    myFilter
  },
  computed:{
    ...mapState({
    isModalVisible: state => state.isModalVisible,
    filterVisible: state => state.filterVisible,

    total: state => state.products.total,
    currentPage: state => state.products.currentPage,
    size: state => state.products.size,
    aggRange: state => state.products.aggRange,
    sortBy: state => state.products.sortBy,
  }),
  },
   
  methods: {
    ...mapActions(["closeModal"]),
    validateRoute(allData) {
      let page = allData.page || this.$route.params.page || 1;
      let sort = allData.sort || this.$route.query.sort;
      let filter = allData.filter || {};
      if (!allData.filter) {
        filter.minPrice = this.$route.query.minPrice;
        filter.maxPrice = this.$route.query.maxPrice;
        filter.minCount = this.$route.query.minCount;
        filter.maxCount = this.$route.query.maxCount;
      }
      if (allData.filter || allData.sort) {
        page = 1;
      }
      this.$router.push({
        path: `/${page}`,
        query: {
          sort: sort,
          minPrice: filter.minPrice,
          maxPrice: filter.maxPrice,
          minCount: filter.minCount,
          maxCount: filter.maxCount
        }
      });
      this.$store.dispatch('loadItems',{ page, sort, filter })
    }
  },
  beforeMount() {
    this.validateRoute({});
  },
  beforeDestroy(){
    this.validateRoute({}).destroy()
  }
};
</script>


<style lang="scss">
* {
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}
</style>

