<template>
  <div class="items-popup">
    <div class="item-popup" v-for="(item, i) in payItems" :key="i" @click="closeModal()">
      <div class="logo-popup">
        <img :src="item.logo" alt="Яндекс деньги" />
      </div>
      <div class="discription-popup">
        <p>{{item.name}}</p>
        <span>{{item.discription}}</span>
      </div>
    </div>
  </div>
</template>

<script>
import {mapActions} from "vuex";
export default {
  name: "itemForPay",
  props: ["payItems"],
  methods: {
    ...mapActions(["closeModal"]),
  }
};
</script>

<style lang="scss" >
@import "./style/adaptiv";
@import "./style/color";
.items-popup {
display: flex;
flex-wrap: wrap;
align-items: center;
justify-content: space-between;
margin: 0 auto;
padding: 0;
.item-popup {
    display: flex;
    max-width: 100%;
    align-items: center;
    width: 50%;
    min-width: 320px;
    padding: 20px 40px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    flex-grow: 1;
    &:hover {
    background-color: $saffron;
    opacity: 0.7;
    }
    .logo-popup {
    display: flex;
    align-items: center;
    width: 100%;
    max-width: 30%;
    min-width: 30%;
    height: 100px;
    img {
        display: block;
        margin: 0 auto;
        max-width: 100%;
        max-height: 100%;
    }
    }
    .discription-popup {
    min-width: 70%;
    display: flex;
    flex-direction: column;
    margin: auto 0;
    padding-left: 20px;
    font-size: 20px;
    line-height: 20px;
    p {
        width: 90%;
        word-break: break-word;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    span {
        color: $coral;
        overflow: hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
    }
    }
}
}
      
@media (max-width: $m) {
  .items-popup {
    .item-popup {
      &:hover {
        background-color: $light-brown !important;
        opacity: 1 !important;
      }
    }
  }
}
</style>
