<template>
  <transition-group name="moveInUp" class="items">
    <div class="item" v-for="item in items" :key="item.id">
      <div class="photo">
        <img src="https://picsum.photos/680/500" alt="ФотоТачки" />
        <StockTimer
          v-bind:special-time="item.discount.finishDate"
          v-bind:special-stock="item.stock"
        />
      </div>
      <div class="wrap">
        <p class="car-name">{{item.name}}</p>
        <p class="item-name">{{item.manufacturer}}</p>
        <p class="item-sku">
          Код Товара:
          <span>{{item.sku}}</span>
        </p>
        <p class="producer">
          Производитель:
          <span>{{item.seller}}</span>
        </p>
        <div class="amount">
          <img src="images/icon-count.jpg" />
          <p>
            В наличии
            <span>({{item.stock}} к-т.)</span>
          </p>
        </div>
        <div class="main-discount-block">
          <div class="square-block">
            <span class="number">-15<span class="persent">%</span>
            </span>
            <span class="word">Скидка</span>
          </div>
          <div class="square-discript">
            <div class="discript">
              <div class="discript-helper"></div>
              <div class="discript-word">Супер цена</div>
            </div>
            <div class="discript-add">+ Скидка по карте постоянного покупателя</div>
          </div>
        </div>
        <p class="usual-price">
          Обычная цена:
          <span>{{item.price}} руб.</span>
        </p>
        <p class="real-price">
          Цена:
          <span>{{item.discount.price}} руб.</span>
        </p>
        <div class="wide">
          <a @click="showModal()" class="button-buy">Купить</a>
        </div>
        <div class="deposit-and-info">
          <div class="deposit">
            <img src="images/icon-heart.jpg" />
            <a href="#" class="button">Отложить</a>
          </div>
          <div class="info">
            <img src="images/arrow.jpg" />
            <a href="#" class="button">Подробнее</a>
          </div>
        </div>
      </div>
    </div>
  </transition-group>
</template>


<script>
import StockTimer from "@/components/StockTimer";
import { mapActions } from "vuex";


export default {
  name: "item",
  props: ["items"],
  components: {
    StockTimer
  },
  methods: {
    ...mapActions(["showModal"]),
  },
  
};
</script>

<style lang="scss" scoped>
@import "./style/adaptiv";
@import "./style/color";

.moveInUp-enter-active {
  animation: fadeIn 2s ease-in;
}
@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

.items {
  width: 100%;
  max-width: $xl;
  min-width: $xs;
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  flex-wrap: wrap;
  // justify-content: center;
}
.item {
  margin: 5px;
  display: flex;
  min-width: $xs;
  flex-direction: column;
  border: 1px solid $black;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: calc(33% - 7px);
}
.photo {
  display: flex;
  align-items: center;
  position: relative;
  margin: 0 auto;
  margin-bottom: 20px;
  width: 100%;
  max-width: 90%;
  height: 255px;
  img {
    display: block;
    max-width: 100%;
    max-height: 100%;
    margin: 0 auto;
  }
}
.wrap {
  margin: 0 15px;
}

.car-name {
  margin-bottom: 20px;
  font-size: 16px;
}

.item-name {
  margin-bottom: 20px;
  font-size: 16px;
  font-weight: bold;
}

.item-sku {
  width: 100%;
  margin: 0 auto;
  padding: 10px 0;
  border: 2px solid $blue;
  border-radius: 10px;
  box-sizing: border-box;
  margin: 8px 0;
  text-align: center;
  font-size: 16px;
  color: $blue;
}

.producer {
  margin-bottom: 10px;
  font-size: 16px;
}

.amount {
  display: flex;
  align-items: flex-end;
  font-size: 16px;
  margin-bottom: 50px;

  img {
    width: 100%;
    max-width: 30px;
    height: auto;
  }
}

.main-discount-block {
  position: relative;
  width: 100%;
  max-height: 150px;
  margin-bottom: 10px;
  .square-block {
    position: absolute;
    top: -40px;
    left: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    max-width: 100px;
    max-height: 100px;
    border: 1px solid $light-blue;
    align-items: center;
    justify-content: center;
    background-color: $light-blue;
    color: $white;
    .number {
      font-size: 45px;
      font-weight: bold;
    }
    .persen {
      font-size: 25px;
      font-weight: bold;
    }
    .word {
      font-size: 22px;
      font-weight: bold;
      text-transform: uppercase;
    }
  }
  .square-discript {
    width: auto;
    height: 100px;
    border: 1px solid $green;
    background-color: $light-black;
    .discript {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      width: 100%;
      height: 60px;
      border-bottom: 2px solid $green;
      .discript-helper {
        min-width: 110px;
      }
      .discript-word {
        position: relative;
        max-width: 140px;
        font-size: 21px;
        color: $green;
        font-weight: bold;
        text-transform: uppercase;
        padding-right: 5px;
        padding-top: 5px;
        margin: 0 auto;
        &:after {
          content: "";
          position: absolute;
          top: 30px;
          right: 0px;
          width: 140px;
          height: 4px;
          background-color: $light-blue;
        }
      }
    }
    .discript-add {
      color: $white;
      font-weight: bold;
      text-transform: uppercase;
      text-align: center;
      font-size: 15px;
    }
  }
}

.usual-price {
  font-size: 16px;
  color: $dirty-gold;
  margin-bottom: 20px;
  span {
    font-size: 18px;
    text-decoration: line-through;
  }
}

.real-price {
  font-size: 16px;
  color: $gold;
  margin-bottom: 20px;

  span {
    font-size: 26px;
    font-weight: bold;
    margin-left: 15px;
  }
}

.wide {
  overflow: hidden;
}

.button-buy {
  display: block;
  font-weight: bold;
  color: $white;
  text-decoration: none;
  background-color: #ff8e00;
  padding: 10px 100px;
  text-align: center;
  margin-bottom: 10px;
  cursor: pointer;

  &:hover,
  &:active {
    background-color: $gold-hover;
  }
}

.deposit-and-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.deposit {
  display: flex;
  align-items: center;

  a {
    text-decoration: none;
    margin-left: 10px;
  }
  img {
    width: 100%;
    height: auto;
  }
}

.info {
  display: flex;
  align-items: center;
  img {
    width: 100%;
    height: auto;
  }
  a {
    text-decoration: none;
    margin-left: 10px;
  }
}

@media (max-width: $l) {
  .item {
    width: calc(50% - 10px);
  }
}

@media (max-width: $m-s) {
  .item {
    width: 100%;
  }
}

@media (max-width: $s) {
  .item {
    width: 100%;
  }
  .photo .stock-block {
    max-width: 100%;
  }
}
</style>

