<template>
  <div class="stock-block" v-show="seconds_left > 0">
    <div class="timer">
      <div class="time day">
        <span class="number">{{time.days | addZero}}</span>
        <span class="word">дней</span>
      </div>
      <div class="colon">
        <p>:</p>
      </div>
      <div class="time hour">
        <span class="number">{{time.hours | addZero}}</span>
        <span class="word">часа</span>
      </div>
      <div class="colon">
        <p>:</p>
      </div>
      <div class="time min">
        <span class="number">{{time.minutes | addZero}}</span>
        <span class="word">минут</span>
      </div>
      <div class="colon">
        <p>:</p>
      </div>
      <div class="time sec">
        <span class="number">{{time.seconds | addZero}}</span>
        <span class="word">секунд</span>
      </div>
      <div class="separator"></div>
      <div class="count">
        <span class="number">{{specialStock}}</span>
        <span class="word">штук</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  data: () => {
    return {
      now: Math.trunc(new Date().getTime()),
      timerId: null,
      seconds_left: null
    };
  },
  beforeMount() {
    if (this.seconds_left < 0) {
      clearInterval(this.timerId);
    }
    this.timerId = setInterval(() => {
      this.now = Math.trunc(new Date().getTime());
    }, 1000);
    
  },
  beforeDestroy(){
    clearInterval(this.timerId);
  },
  name: "stockTimer",
  props: ["specialTime", "specialStock"],
  computed: {
    time: function() {
      let days, hours, minutes, seconds;
      this.seconds_left = (this.targetData - this.now) / 1000;

      days = parseInt(this.seconds_left / 86400);
      this.seconds_left = this.seconds_left % 86400;

      hours = parseInt(this.seconds_left / 3600);
      this.seconds_left = this.seconds_left % 3600;

      minutes = parseInt(this.seconds_left / 60);
      seconds = parseInt(this.seconds_left % 60);

      return {
        days: days,
        hours: hours,
        minutes: minutes,
        seconds: seconds
      };
    },
    splitTime: function() {
      if (this.specialTime) {
        return this.specialTime.split("/");
      }
    },
    targetData: function() {
      return new Date(this.splitTime[2], this.splitTime[1] - 1, this.splitTime[0]).getTime();
    }
  },
  filters: {
    addZero: function(value) {
      let lessZero;
      let oneNumber;

      if (value < 0) {
        lessZero = "0";
      } else {
        lessZero = value;
      }

      if (lessZero < 10) {
        oneNumber = "0" + lessZero;
      } else {
        oneNumber = lessZero;
      }
      return oneNumber;
    }
  }
};
</script>

<style lang="scss" scoped>
@import "./style/adaptiv";
@import "./style/color";

.stock-block {
  width: 100%;
  margin: 0 auto;
  word-wrap: break-word;
  position: absolute;
  bottom: 5px;
  .timer {
    display: flex;
    border-radius: 10px;
    width: 100%;
    background-color: $grey-for-time;
    color: $black;
    text-align: center;
    justify-content: space-evenly;
    .time {
      max-width: 85px;
      display: flex;
      flex-direction: column;
      text-align: center;
    }
    .number {
      font-size: 35px;
    }
    .word {
      font-size: 12px;
    }
    .colon {
      font-size: 28px;
      font-weight: bold;
    }
    .separator {
      width: 2px;
      height: inherit;
      background-color: $black;
      opacity: 0.5;
    }
    .count {
      max-width: 85px;
      display: flex;
      flex-direction: column;
      text-align: center;
      .number {
        font-size: 35px;
      }
      .word {
        font-size: 12px;
      }
    }
  }
}
</style>
