@import color
@import adaptiv

*
    margin:0
    padding:0
    font-family: 'Josefin Sans', sans-serif

.header
    width: 100%
    max-width: $xl
    min-width: $xs
    display: flex
    margin: 0 auto
    align-items: center
    font-size: 24px
    background-color: rgba(99,39,0,0.3)
    padding: 15px
    box-sizing: border-box
    .yandex-taxi
        position: relative
        width: 50px
        height: 50px
        background-color: $gold
        border-radius: 10px
        box-shadow: 0px 1px 3px 0px $black
        &:before,
        &:after
            content: ""
            position: absolute
            width: 50%
            height: 50%
            bottom:0px
        &:before 
            left: 0px
            background-color: $white
            border-radius: 0 0 0 10px
        &:after
            right: 0px
            background-color: $black
            border-radius: 0 0 10px
    p 
        width: 75%
        padding-left: 10px

.items
    width: 100%
    max-width: $xl
    min-width: $xs
    display: flex
    flex-direction: row
    justify-content: space-between
    margin: 0 auto
    flex-wrap: wrap

.item
    margin-bottom: 5px
    display: flex
    min-width: $xs
    flex-direction: column
    border:1px solid $black
    -webkit-box-sizing: border-box
    -moz-box-sizing: border-box
    box-sizing: border-box
    width: calc(33% - 10px)

.photo
    display: flex
    align-items: center
    position: relative
    margin: 0 auto
    margin-bottom: 20px
    width: 100%
    max-width: 90%
    height: 255px
    img
        display: block
        max-width: 100%
        max-height: 100%
        margin: 0 auto
    .stock-block
        width: 100%
        margin: 0 auto
        word-wrap: break-word
        position: absolute
        bottom: 5px
        .timer
            display: flex
            border-radius: 10px
            
            width: 100%
            background-color: $grey-for-time
            color: $black
            text-align: center
            justify-content: space-evenly
            .time
                max-width: 85px
                display: flex
                flex-direction: column
                text-align: center
            .number
                font-size: 35px
            .word
                font-size: 12px
            .colon
                font-size: 28px
                font-weight: bold

            .separator
                width: 2px
                height: inherit
                background-color: $black
                opacity: 0.5

            .count
                max-width: 85px
                display: flex
                flex-direction: column
                text-align: center
                .number 
                    font-size: 35px
                .word
                    font-size: 12px
.wrap
    margin: 0 15px

.car-name
    margin-bottom: 20px
    font-size: 16px


.item-name 
    margin-bottom: 20px
    font-size: 16px
    font-weight: bold

.item-sku
    width: 100%
    margin: 0 auto
    padding: 10px 0
    border: 2px solid $blue
    border-radius: 10px
    box-sizing: border-box
    margin: 8px 0
    text-align: center
    font-size: 16px
    color: $blue


.producer
    margin-bottom: 10px
    font-size: 16px


.amount
    display: flex
    align-items: flex-end
    font-size: 16px
    margin-bottom: 50px

    img
        width: 100%
        max-width: 30px
        height: auto

.main-discount-block
    position: relative
    width: 100%
    max-height: 150px
    margin-bottom: 10px
    .square-block
        position: absolute
        top: -40px
        left: 5px
        display: flex
        flex-direction: column
        width: 100%
        height: 100%
        max-width: 100px
        max-height: 100px
        border: 1px solid $light-blue
        align-items: center
        justify-content: center
        background-color: $light-blue
        color: $white
        .number
            font-size: 45px
            font-weight: bold
        .persen
            font-size: 25px
            font-weight: bold
        .word
            font-size: 22px
            font-weight: bold
            text-transform: uppercase
    .square-discript
        width: auto
        height: 100px
        border: 1px solid $green
        background-color: $light-black
        .discript
            display: flex
            flex-direction: row
            justify-content: flex-end
            width: 100%
            height: 60px
            border-bottom: 2px solid $green
            .discript-helper
                min-width: 110px
            .discript-word
                position: relative
                max-width: 140px
                font-size: 21px
                color: $green
                font-weight: bold
                text-transform: uppercase
                padding-right:5px
                padding-top:5px
                margin: 0 auto
                &:after
                    content: ""
                    position: absolute
                    top: 30px
                    right: 0px
                    width: 140px
                    height: 4px
                    background-color: $light-blue
        .discript-add
            color: $white
            font-weight: bold
            text-transform: uppercase
            text-align: center
            font-size: 15px

.usual-price
    font-size: 16px
    color: $dirty-gold
    margin-bottom: 20px

    span
        font-size: 18px
        text-decoration: line-through

.real-price
    font-size: 16px
    color: $gold
    margin-bottom: 20px

    span 
        font-size: 26px
        font-weight: bold
        margin-left: 15px

.wide
    overflow: hidden

.button-buy
    display: block
    font-weight: bold
    color: $white
    text-decoration: none
    background-color: #FF8E00
    padding: 10px 100px
    text-align: center
    margin-bottom: 10px
    cursor: pointer

    &:hover,
    &:active
        background-color: $gold-hover

.deposit-and-info
    display: flex
    justify-content: space-between
    margin-bottom: 20px

.deposit
    display: flex
    align-items: center

    a
        text-decoration: none
        margin-left: 10px
    img
        width: 100%
        height: auto

.info
    display: flex
    align-items: center
    img 
        width: 100%
        height: auto
    a
        text-decoration: none
        margin-left: 10px


@media (max-width: $l) 
    .item
        width: calc(50% - 10px)
        
@media (max-width: $m-s)
    .item
        width: 100%


@media (max-width: $s)
    .item
        width: 100%
    .photo .stock-block
        max-width: 100%



/* попап */

.b-popup-content
    width:100%
    height: 100%
    background-color: $white-and-opacity
    position: fixed
    top:0px
    display: none
    overflow: scroll
    .container-popup
        width: 100%
        height: 100%
        justify-content: center
        max-width: $l
        min-width: $xs
        margin: 0 auto
        padding: 0
        display: flex
        flex-direction: column
        .header-popup
            position: relative
            display: flex
            flex-direction: row
            justify-content: space-between
            align-items: center
            background-color: $coral
            h2    
                text-transform: uppercase
                font-size: 14px
                color: #ffffff
                padding: 20px 0px
                padding-left: 40px
            .close-popup 
                position: absolute
                right: 32px
                width: 20px
                height: 20px
                opacity: 0.3
                &:hover 
                    opacity: 1
                &:before,
                &:after 
                    position: absolute
                    left: 9px
                    content: ' '
                    height: 20px
                    width: 2px
                    background-color: $white
                &:before 
                    transform: rotate(45deg)
                &:after 
                    transform: rotate(-45deg)
        .main-popup 
            position: relative
            display: flex
            flex-direction: column
            padding: 40px 0px 0px 0px
            background-color: $light-brown
            margin: 0
            h1
                max-width: 80%
                margin: 0 0 5px 0
                padding: 0
                padding-left: 40px
                font-size: 30px
                color: $brown  
            .items-popup
                display: flex
                flex-wrap: wrap
                align-items: center
                justify-content: space-between
                margin: 0 auto
                padding: 0
                .item-popup
                    display: flex
                    max-width: 100%
                    align-items: center
                    width: 50%
                    min-width: 320px
                    padding: 20px 40px
                    -webkit-box-sizing: border-box
                    -moz-box-sizing: border-box
                    box-sizing: border-box
                    flex-grow: 1
                    &:hover
                        background-color: $saffron
                        opacity: 0.7
                    .logo-popup
                        display: flex
                        align-items: center
                        width: 100%
                        max-width: 30%
                        min-width: 30%
                        height: 100px
                        img
                            display: block
                            margin:0 auto
                            max-width: 100%
                            max-height: 100%
                    .discription-popup
                        min-width: 70%
                        display: flex
                        flex-direction: column
                        margin: auto 0
                        padding-left: 20px
                        font-size: 20px
                        line-height: 20px
                        p   
                            width: 90%
                            word-break: break-word
                            overflow: hidden
                            text-overflow: ellipsis
                            display: -webkit-box
                            -webkit-line-clamp: 3
                            -webkit-box-orient: vertical
                        span
                            color:$coral
                            overflow: hidden
                            text-overflow: ellipsis
                            display: -webkit-box
                            -webkit-line-clamp: 3
                            -webkit-box-orient: vertical

@media (max-width: $m)
    .items-popup 
        .item-popup
            &:hover
                background-color: $light-brown !important
                opacity: 1 !important

    .b-popup-content 
            .container-popup
                height: auto


@media (max-width: $m-s)
        